:root {
    --bg-color: #EAE2C6;
    --header-color: #FBF5DD; 
    --aside-color: #A6CDC6;    
    --text-color: #16404d;
    --line-style: 5px solid #DDA853;
}
html {
    box-sizing: border-box;
}

*, *::after, *::before {
    box-sizing: inherit;
}
body {
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: var(--text-color); 
    /* User cannot select text */
    user-select: none; 
    height: 100vh;
    display: grid;
    grid-template-columns: 375px 1fr;
    grid-template-rows: 150px 1fr;
    grid-template-areas:
    "header header"
    "aside main";     
}
img {
    width: 50px;
    color: #16404d;
}
.header img {
    width: 100px;
}

h1, h2, h3, p {
    margin: 0;
}

h1 {
    font-size: 3.5rem;      
}

h2 {
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 25px;
}

h3 {
    font-size: 1.5rem;
}
legend {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

.header, .aside {
    padding: 30px;
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    grid-area: header;
    background-color: var(--header-color);
}
.aside {
    background-color: var(--aside-color);
    grid-area: aside;
}
#player-two-form {
    display: none;
}
.main {
    background-color: var(--bg-color);
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.gridContainer {
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
        
}
.box {
    background-color: transparent;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    font-weight: bold;
    color: var(--text-color);    
}
.a1, .b1, .c1 {
    border-right: var(--line-style);
}
.a3, .b3, .c3 {
    border-left: var(--line-style);
}
.a1, .a2, .a3 {
    border-bottom: var(--line-style);
}
.c1, .c2, .c3 {
    border-top: var(--line-style);
}
#result {
    display: none;
}
